REDIS_BROKER_URL=redis://redis:6379
REDIS_BACKEND_URL=redis://redis:6379
REDIS_HOST=redis
REDIS_PORT=6379
MONGO_INITDB_HOST=mongodb
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=pass
MONGO_INITDB_DATABASE=primo_api
MONGO_INITDB_DATASET_COLLECTION=datasets_json
MONGO_INITDB_PROJECT_COLLECTION=projects
MONGO_INITDB_WELL_COLLECTION=wells
MONGO_INITDB_RANK_COLLECTION=ranked_wells
MYSQL_ROOT_PASSWORD=pass
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=pass
MYSQL_PROJECT_COLLECTION=projects
MYSQL_PROJECT_WELL_COLLECTION=project_well
MYSQL_DATABASE=primo_api
SOLVER=scip